@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.grid-template {
  display: grid;
  grid-template-areas:
    "portrait info info"
    "portrait info info"
    "socials socials socials";
  grid-template-columns: 10px, 1fr, 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 3px;
}

.grid-info {
  grid-area: info;
}

.grid-socials {
  grid-area: socials;
}

.grid-portrait {
  grid-area: portrait;
}

@media(min-width: 640px) {
  .grid-template {
    display: grid;
    grid-template-areas:
      "info info portrait"
      "socials socials portrait";
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 8px;
  }
}